---
layout: default
title: Our Current Team
picture-role-groups:
- {roles: [technicalLead], width: 6}
- {roles: [technicalLead1], width: 6}
no-picture-role-groups:
- {roles: [mentors], width: 6}
- {roles: [mentors1], width: 6}
- {roles: [members2], width: 6}
- {roles: [members], width: 6}
no-picture-role-groups-new:
- {roles: [new_joinee], width: 6}
- {roles: [new_joinee1], width: 6}
---
<h2 align="center">Technical Leads</h3>
<p>
<br>
</p>
<section class="people row justify-content-between">
    {% for role-group in page.picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=true %}
            {% endfor %}
        </div>
    {% endfor %}
</section>
<h2 align="center">Mentors</h2>
<p>
    <br>
    </p>
<section class="people row justify-content-between">
    {% for role-group in page.no-picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=true %}
            {% endfor %}
        </div>
    {% endfor %}
</section>



<!-- <h2 align="center">Mentees</h2>
<p>
    <br>
    </p>
    <section class="people row justify-content-between">
        {% for role-group in page.no-picture-role-groups-new %}
            <div class="col-md-{{ role-group.width }}">
                {% for role in role-group.roles %}
                    {% include role-people.html role=role image=true %}
                {% endfor %}
            </div>
        {% endfor %}
    </section> -->


