
{% assign role-key = include.role %}

{% for role in site.roles %}
    {% if role.key == role-key %}
        <div class="role {{ role.key }}">
            {% for item in site.data.people %}
                {% assign person = item[1] %}
                {% if person.role == role.key %}
                    {% if person.role == 'mentors' %}
                        <h4>RoboReG Technical Head</h4>
                    {% endif %}
                    {% if person.role == 'mentors1' %}
                        <h4>Robotics Club Secretary</h4>
                    {% endif %}
                    {% include person.html person=person image=include.image %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
